name: Build and push images

on:
  push:
    branches: ["*"]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - src: debian
            name: base/debian
    permissions:
      contents: read
      packages: write
    steps:
    - name: Free up space
      run: |
        set -e
        # Ensure enough space is available for build
        sudo apt-get autoremove -y
        sudo apt-get clean -y
        sudo rm -rf /usr/share/dotnet
    - name: Checkout
      uses: actions/checkout@v5
    - name: Install Dev Containers CLI
      run: npm i -g @devcontainers/cli
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io 
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push image
      run: ./scripts/dc-builder ${{ matrix.image.src }} ${{ matrix.image.name }}
      env:
        FF_DEVCONTAINER_SKIP_PUSH: ${{ github.event_name == 'pull_request' }}