name: Build and push images

on:
  push:
    branches: ["*"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Free up space
      run: |
        set -e
        # Ensure enough space is available for build
        sudo apt-get autoremove -y
        sudo apt-get clean -y
        sudo rm -rf /usr/share/dotnet
    - name: Checkout
      uses: actions/checkout@v5
    - name: Install Dev Containers CLI
      run: npm i -g @devcontainers/cli